body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
}

h1 {
    color:#003366;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
    padding: 8px;
}
